body {
  max-height: 100vh;
  background-image: url("./assets/cheng-feng-psdV2Rl-GvU-unsplash.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.HeaderMain {
  width: 100vw;
  padding: 0.1%;
  text-align: center;
  background-image: url("./assets/CyberBanner.jpg");
  font-family: "Orbitron", sans-serif;
  font-size: 3.5vw;
  color: #0abdc6;
  text-shadow: 2px 2px #ea00d9;
}

.Nav {
  width: 100vw;
  display: flex;
  background-color: #711c91;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5vw;
}
.NavLink {
  color: #0abdc6;
  text-shadow: 1px 1px #ea00d9;
  font-size: 3vw;
}

.titleBar {
  background-color: rgba(234, 0, 217, 0.2);
  padding: 1%;
}

.titleText {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #ea00d9;
  text-shadow: 2px 2px #0abdc6;
}

.mainBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .mainBody {
    flex-direction: column;
  }
}
.Box {
  background-color: rgba(113, 28, 145, 0.5);
  margin: 5px;
  height: auto;
  overflow: auto;
  border: 4px solid #0abdc6;
  border-radius: 20px;
  box-shadow: 3px 3px #ea00d9;
  margin-top: 10px;
  margin-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #711c91 #133e7c;
}

.textBody {
  margin: 5%;
  color: #0abdc6;
  text-shadow: 1px 1px #091833;
}

.listText {
  textdecoration: none;
  color: #ea00d9;
  text-shadow: 1px 1px #091833;
}

a {
  text-color: #ea00d9;
}

.footer {
  width: 100vw;
  /* padding: 0.1px; */
  background-color: #ea00d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5vh;
}

.footerText {
  /* margin-left: 60px;
  margin-right: 60px; */
  color: #711c91;
  text-shadow: 1px 1px #133e7c;
}
