body {
  margin: 0;
  background-size: 100vh, 100vw;
  background-image: url("./assets/cheng-feng-psdV2Rl-GvU-unsplash.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.HeaderMain {
  width: 100vw;
  padding: 0.1px;
  text-align: center;
  background-image: url("./assets/CyberBanner.jpg");

  font-family: "Orbitron", sans-serif;

  color: #0abdc6;
  text-shadow: 2px 2px #ea00d9;
}

.HeaderText {
  /* font-size: 10vh; */
  width: 100vw;
}

.footer {
  width: 100vw;
  padding: 0.1px;
  background-color: #ea00d9;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
}

.footerText {
  margin-left: 60px;
  margin-right: 60px;
  color: #711c91;
  text-shadow: 1px 1px #133e7c;
}

.titleBar {
  background-color: rgba(234, 0, 217, 0.2);
  padding: 1%;
}

.titleText {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #ea00d9;
  text-shadow: 2px 2px #0abdc6;
}

.textList {
  background-color: rgba(10, 189, 198, 0.6);
  margin: 10%;
  border: 3px 3px #ea00d9;
  border-radius: 15px;
}

.mainBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Box {
  background-color: rgba(113, 28, 145, 0.5);
  width: 40vw;
  height: auto;
  overflow: auto;
  border: 4px solid #0abdc6;
  border-radius: 20px;
  box-shadow: 3px 3px #ea00d9;
  margin-top: 10px;
  margin-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #711c91 #133e7c;
}

#wide {
  width: 80%;
}

.Box::-webkit-scrollbar {
  border-radius: 20px;
  background: #711c91;
}

.Nav {
  width: 100vw;
  display: flex;
  background-color: #711c91;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Orbitron", sans-serif;
}

.NavLink {
  color: #0abdc6;
  text-shadow: 1px 1px #ea00d9;
  font-size: 2rem;
}
