.HeaderMain {
  padding: 0.1px;
  text-align: center;
  background-image: url("./assets/CyberBanner.jpg");

  font-family: "Orbitron", sans-serif;
  font-size: 3em;

  color: #0abdc6;
  text-shadow: 2px 2px #ea00d9;
}
