.Nav {
  display: flex;
  background-color: #711c91;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Orbitron", sans-serif;
}

.NavLink {
  color: #0abdc6;
  text-shadow: 1px 1px #ea00d9;
  font-size: 2rem;
}
